<mat-card class="col-6 col-offset-3 mt-5">
  <mat-card-header>
    <h1 class="mat-h1">Crear recordatorio</h1>
  </mat-card-header>
  <mat-card-content>
      <div class="flex justify-content-between">
        <mat-form-field>
          <mat-label>Seleccionar fecha</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="MM/DD/AAAA">
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Título</mat-label>
          <input type="text" matInput>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hora</mat-label>
          <input type="time" matInput>
        </mat-form-field>
      </div>

      <div class="flex flex-column mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Descripción</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

        <mat-divider></mat-divider>
      </div>

      <div>
        <!-- <div class="flex justify-content-start flex-wrap">
          <mat-form-field>
            <mat-label>Buscar Publicación</mat-label>
            <input type="search" matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Publicación seleccionada</mat-label>
            <input matInput>
          </mat-form-field>
        </div> -->
        <div class="flex justify-content-start flex-wrap card-container m-2">
          <button mat-button mat-raised-button color="primary" class="mr-3">
            <mat-icon>save</mat-icon>
            Guardar
          </button>

          <button mat-button mat-raised-button color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
          </button>
        </div>

      </div>

  </mat-card-content>
</mat-card>
