<mat-card class="post-card rounded-3 mb-3">

  <mat-card-header class="mb-3">
    <div class="row spacer">
      <div class="col align-items-center justify-content-start card-container">
        <mat-card-title>Titulo</mat-card-title>
        <mat-card-subtitle>Subtitulo</mat-card-subtitle>
      </div>
      <div class="col flex flex-wrap align-items-end justify-content-end card-container">
        <p>DD/MM/AAAA</p>
      </div>
    </div>
  </mat-card-header>

  <div class="m-3">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, earum. Eos in veniam nam cumque iste labore maxime quas aliquid eius magni alias corporis nihil repellat odit iure, modi eum.
      </p>
  </div>

  <img
    mat-card-image
    class="post-card"
    src="https://primefaces.org/cdn/primeng/images/galleria/galleria1.jpg"
    alt="...">
  <mat-card-content class="flex align-items-center justify-content-start card-container mt-3">
    <img
      mat-card-avatar
      src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-27.jpg"
      class="img-thumbnail rounded mr-2 mt-2">
    <p><strong>Username</strong></p>
  </mat-card-content>
</mat-card>

