<mat-card class="col card message-card m-2">

  <mat-card-header class="mb-2">
    <div class="flex align-items-center justify-content-start flex-wrap card-container">
    <img
      mat-card-avatar
      src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-27.jpg"
      class="img-thumbnail rounded mr-2 mt-2">
    <mat-card-title><strong class="ml-3 username">Username</strong></mat-card-title>
    </div>
    <div class="spacer flex align-items-center justify-content-end flex-wrap card-container">
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Archivar</button>
        <button mat-menu-item>Eliminar</button>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content class="message-card-content">
    <div class="flex flex-column mb-1">
      <mat-form-field class="example-full-width">
        <mat-label>Mensaje</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  </mat-card-content>

</mat-card>
